{% load static %}

<html>
    
    <head>
        <title>Nakagaki Yuto Portfolio</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/search.css' %}">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>

        <!-- .navbar -->
        <nav class="navbar" class="fixed">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/">検索</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/#about-section">MyPage</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/#try-section">Logout</a></li>
            </ul>
        </nav>
        <!-- /.navbar -->

        {% block content %}
        {% endblock %}

        <!-- .footer -->
        <footer class="footer">
            <div class="copyright">Copyright&copy; 2020 Nakagaki Yuto. </div>
        </footer>
        <!-- /.footer -->

    </body>
</html>