{% extends 'search/base.html' %}
{% load static %}

{% block content %}
<!-- .page-header -->
<header class="page-header">
    <h1 class="logo">
        <div class="logo-title">口コミ de お店検索</div>
        <div class="logo-subtitle">あなたに合った飲食店を口コミから検索</div>
    </h1>
</header>
<!-- /.page-header -->


<div class="search-section">
    <a href="#">使い方を見る</a>
    <div class="search-form">
        <input class="place-form" value="場所">
        <input class="kuchikomi-form" value="口コミ">
    
    </div>

</div>
{% endblock %}