{% extends 'search/base.html' %}
{% load static %}

{% block content %}

<div class="search-section">
    <a href="{% url 'how_to_use' %}">使い方を見る</a>
    <div class="search-form">
        <form action="{% url 'shops' %}" method="POST">
            {% csrf_token %}
            <div class="form-input">
                <label>エリア</label>
                <input type="text" class="area" name="area">
                <label>検索ワード</label>
                <input type="text" class="kuchikomi" name="kuchikomi">
            </div>
            <div class="form-button">
                <button type="submit" class="btn btn-primary" name='action' value="save">検索する</button>
            </div>
        </form>
    </div>
</div>

<div class="shop-list">
    <div class="list-title">
        <h2>{{ area }} で 「{{ kuchikomi }}」 の口コミを含むお店一覧</h2>
    </div>
    <div class="list-content">
        <p><p>{{ result|linebreaksbr }}</p></p>
    </div>
</div>
{% endblock %}